* {
    font-family: var(--font-poppins), sans-serif;
}

.parts {
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
}
.parts::before {
    content: '';
    display: inline-block;
    width: 50px;
    height: 5px;
    background-color: #6d5cbc;
    margin-right: 10px;
    vertical-align: middle;
    border-radius: 10px;
}
.descContainer {
    max-width: 1021px;
    min-height: 67px;
}
.partsDesc {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0%;
    color: #666666;
}

.customTooltip {
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
  }
  
  .tooltipContent {
    background-color: #6658d3; 
    color: white;
    padding: 15px 20px;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    border-radius: 12px;
    position: relative;
    left: -100px;   
    min-width: 250px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  }
  
  /* Triangle (tooltip arrow) */
  .tooltipContent::after {
    content: "";
    position: absolute;
    bottom: -20px;
    right: 0%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 20px solid #6658d3;
  }
  .highlight {
    color: #00c851;
    font-weight: bold;
  }
  
  .bold {
    font-weight: bold;
  }
  
  .subtitle {
    display: block;
    font-size: 16px;
    margin-top: 5px;
    font-weight: 400;
  }
.subBtn{
  width: 100%;
height: 52px;
border-radius: 2px;
padding: 8px;
background-color: #49BD88;
color: white;
border: none;
}

.mobMenu{
  position: relative;
  width: 100%;
  z-index: 9;
  background-color: aliceblue;
  overflow: auto;
  height: 0px;
}
.menuOpen{
  height: 20vh;
  transition: all 0.5s ease-in-out;
}
.menuClose{
  height: 0px;
  transition: all 0.5s ease-in-out;
}

.footer{
  background-color: #6D5CBC;
  color: #fff;
  padding: 10px;
  text-align: center;
  font-size: 12px;
}