* {
    font-family: var(--font-poppins), sans-serif;
}

.parts {
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
}
.parts::before {
    content: '';
    display: inline-block;
    width: 50px;
    height: 5px;
    background-color: #6d5cbc;
    margin-right: 10px;
    vertical-align: middle;
    border-radius: 10px;
}
.descContainer {
    width: 1021px;
    height: 67px;
}
.partsDesc {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0%;
    color: #666666;
}

/* .customTooltip {
    box-shadow: 0px 4px 25px 0px #6d5cba;
    background-color: #6d5cba !important;
    border: none !important;
    color: white !important;
    font-weight: bold;
    padding: 5px;
    width: 312px !important;
    height: 120px !important;
    border-radius: 8px;
} */


.customTooltip {
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
  }
  
  .tooltipContent {
    background-color: #6658d3; 
    color: white;
    padding: 15px 20px;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    border-radius: 12px;
    position: relative;
    left: -100px;   
    min-width: 250px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  }
  
  /* Triangle (tooltip arrow) */
  .tooltipContent::after {
    content: "";
    position: absolute;
    bottom: -20px;
    right: 0%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 20px solid #6658d3;
  }
  .highlight {
    color: #00c851;
    font-weight: bold;
  }
  
  .bold {
    font-weight: bold;
  }
  
  .subtitle {
    display: block;
    font-size: 16px;
    margin-top: 5px;
    font-weight: 400;
  }
